body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #dce3ef;
}
.navbar {
  background-color: white;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.navbar-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  display: inline;
}

.container-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub-layout {
  margin: 20px 20px 0 0;
}

.sub-layout .menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: white;
  border-radius: 5px;
}

.sub-layout .menu ul li:hover {
  background-color: #eaecef;
}
.sub-layout .menu ul li a {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  padding: 10px 30px;
}
.sub-layout .menu ul li a:visited {
  color: black;
}

.signup button {
  margin-top: 15px;
}

.right {
  padding: 15px 30px;
  background-color: white;
  border-radius: 5px;
}
.input-signup {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.input-signup input {
  height: 30px;
  margin-top: 5px;
  border: 1px solid #dce3ef;
}
.input-signup input:focus {
  outline: none;
  box-shadow: none;
}

.input-signup input,
.input-signup input::placeholder {
  text-indent: 5px;
  font-size: 14px;
}

.right h3 {
  margin: 0px;
}

.left-child {
  width: 15%;
}
.right-child {
  width: 60%;
}

.input-layout {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.desc {
  font-size: 12px;
  color: grey;
  margin: 5px 0 5px 0;
}
.desc-box {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.desc-topic {
  margin-right: 50px;
  width: 120px;
}

label {
  font-weight: bold;
  font-size: 14px;
}

select {
  width: 100%;
  height: 30px;
}
.dropbtn {
  border: 0px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  margin-right: 50px;
  cursor: pointer;
}

.dropdown-content div {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content div:hover {
  background-color: #e8e8e8;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  margin-right: 50px;
}

.dropbtn:focus {
  outline: none;
  box-shadow: none;
}

#arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: -3px;
  margin-left: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

#search {
  border: 1px solid #dce3ef;
  height: 30px;
}

#search:focus {
  outline: none;
  box-shadow: 1px 1px #dce3ef;
}
#search,
#search::placeholder {
  text-indent: 5px;
  font-size: 14px;
}

.btn {
  border: 0px;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #96b8f2;
}

.btn:hover {
  background-color: #678dce;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:active {
  transform: scale(0.9);
}

.btn:disabled {
  background-color: #DCDCDC	;
  color: white;
}

.is-active {
  font-weight: bold;
  background-color: #eaecef;
}

.toggleLogin {
  margin-top: 15px;
  font-size: 12px;
  cursor: pointer;
}
