body {
  margin: 0;
}
.navbar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar li {
  display: inline;
}

.container-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub-layout {
  border: 1px solid black;
  margin: 20px;
  height: 500px;
  padding: 10px;
}

.menu-layout {
  width: 30%;
}
.child-layout {
  width: 60%;
}
