body {
  margin: 0;
}
.navbar {
  /* width: 100%; */
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar li{
  display: inline;
}
